* {
    margin: 0;
    padding: 0px;
    
    
}
h1 {
    color: white;
    background-color: rgb(61, 192, 61);
    height:min-content;
    font-size:xx-large;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.foto {
    width: 1366px;
    height: 400px;      
}
section {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.cabanas {
    padding-top: 30px;
    text-align: left;
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: chocolate;
    
}
.pieCabanas{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: chocolate;
    background-color: antiquewhite;
    margin-top: 0px;
}


    
.links{ text-decoration: none;
    text-align: center;
    font-size: 15px;
    margin-right: 25px;
    cursor: pointer;
    padding: 10px;
}
p {
    line-height: 1.6;                                                                                            
    padding: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.contacto {
    font-style: italic;
    font-size: 15px;
    padding: 5px;
    text-align: left;
    display: block;
    list-style:disc;
    margin: 5px;
    padding: 5px;
    background-color: beige;

    
  
}
button[type="submit"]{
    width: 100px;
    height: 30px;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}
.servicios{
    display: flex;
    background-color: antiquewhite;
    list-style-type:square;
    margin: 50px;
    font-size: 18px;
    text-align:left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 30px;
    border-radius: 15px;
    display: block;
    justify-content:last baseline;
    
}

.imageService{
    display: grid;
    padding: 20px;
    gap: 15px;
    grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center ;
    
}
.imageService__item{
    display: grid;
    width: 300px;
    height: 120px;
    cursor: pointer; 
   

}

.servicios-flex{
    display: flex;
}

.listado-flex{
    display: flex;
    flex-wrap: wrap;
}


footer {
    padding: 10px;
    text-align: center;
    background-image: url(../Img/sierras.jfif);
    text-align-last: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.cantPersonas{
    width: 80px;
    height: 30px;
}
.imgdesay {
    border-radius: 25px;
    justify-items: center;

}
.nuevalista{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 15px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}


.imgCabSimple{
    width: 1350px;
    height: 500px;
    cursor: pointer;
}
.imgCabMedia{
    width: 1350px;
    height: 500px;
    cursor: pointer;
}
.imgCabFull{
    width: 1350px;
    height: 500px;
    cursor: pointer;
}
.imgCabKing{
    width: 1350px;
    height: 500px;
    cursor: pointer;
}

    
.card{
   
    background-color: antiquewhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
    border-color: black;

}
.card__title{
    text-align: center;

}
.card__description {
    line-height: 2;
    text-align: center;
}
.card__rrss{
    margin-top: 30px;
    margin-bottom: 15px;
}
.card__link{
    
    margin-right: 15px;
    padding: 10px;
    text-decoration: none;
    color: white;
    
    
}
.card__link--twitter{
    background-color: #1c96c8;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
}
.card__link--instagram{
    background-color: #f28705 ;
    border-radius: 15px;
    cursor: pointer;
}
.seguinos{
    margin: 20px;
    text-align: left;
    font-size: 20px;
}

.nosotros{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.nosotros__item{
    width: 300px;
    height: 120px;
    cursor: pointer;
      
}
.logofbook{
    width: 20px;
    border-radius: 10px;
}
.logoWhasap{
    width: 22px;
    border-radius: 10px;
}
.logoIG{
    width: 20px;
    border-radius: 10px;
}

.imgdesayuno{
    display:none;
}

.grid{
    display: grid;
    align-self: center;
}
.padre-flex{
    display: flex;
    
}
.nosotrosMobile{
    display: none;
}

@media (max-width: 480px){
    
    .grid{
        justify-content: center;
        text-align: center;
        font-size: samll;
    }
    body{
        margin: 0px;
        padding: 0px;
    }

    h1 {
        text-align: center;
        font-size: 20px;
       padding: 20px;
       background-color: #1c96c8;
       
   
    }
    .foto{
        width: 380px;
        height: 200px;
    }
    .nuevalista{
       align-items: center;
       justify-content: center;
       font-size:27px;
       padding: 5px;
       margin-bottom: 35px;
       margin-top: 15px ;
       
    }
    .padre-flex{
       align-items: center;
       justify-content: center;
       flex-wrap: wrap;
    }
    .servicios{
        font-size: 15px;
        justify-content: space-between;

    }
    .servicios-flex{
        justify-content: center;
    }
    .imageService{
        display: none;

    }
    .imageService__item{
        display: none;
    }
    .imgdesayuno{
        display: inline;
        width: 360px;
    }
    
    .links{
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2, 1fr);
        padding-left: 45px;
        
    }
    .contacto{
        display: grid;
        width: 320px;
        font-size: 15px;
        background-color: none
        
        
    }
    .nosotros{
        display: none;
    }
    .nosotrosMobile{
        display: inline-flex;
        width: 360px;
        height: 220px;
        justify-content: center;
        
        
    }
    .botonEnviar{
        align-items: center;
    }
    .cabanas{
        font-size: 15px;
        color: #1c96c8;
        text-align: center;
    }
    .imgCabSimple{
        width: 360px;
        height: 200px;
    }
    .imgCabMedia{
        width: 360px;
        height: 200px;
    }
    .imgCabFull{
        width: 360px;
        height: 200px;
    }
    .imgCabKing{
        width: 360px;
        height: 200px;
    }
    .pieCabanas{
        font-size: 12px;
    }
   }

   
       
   


